<a href="https://colab.research.google.com/github/Yingzi0926/test/blob/main/6303_Group2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1  [5 Points]**

Strings, Variables, & Operations

In the Jupyter Notebook, create a string 'xyz' and assign it to the variable str1

Create a string '2222' and assign it to the variable str2

Use the + operator to concatenate the strings str1 and str2, and assign the result to the variable str3

Print the value of str3

Extract the item at position 0 of the string str3, and assign it to the variable ind0

Print the value of ind0

Extract the item at position 2 of the string str3, and assign it to the variable ind2

Print the value of ind2

The concatenated string str3 has '2222' immediately following 'xyz'. Write an expression to create a new string with a space between 'xyz' and '2222', and assign the result to a variable named str4.

Run your code in the notebook, using the Run command.

In the notebook, run the %whos command to see what variables exist.

Try to change the item at position 2 of str3 to instead be 'Z' . Note the error message. Why is this happening?

In [ ]:
str1 = "xyz"
str2 = '2222'
str3 = str1 + str2
print(str3)

xyz2222

In [ ]:
ind0 = str3[0]
print(ind0)

x

In [ ]:
ind2 = str3[2]
print(ind2)

z

In [ ]:
str4 = str3[0:3] + " " + str3[3:]
print(str4)

xyz 2222

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
ind0       str     x
ind2       str     z
str1       str     xyz
str2       str     2222
str3       str     xyz2222
str4       str     xyz 2222

Questions

When you tried to change the item at position 2 of str3, you got an error message that read: TypeError: 'str' object does not support item assignment. Why did you receive that error?

The string str3 does not have anything at position 2.
Parts of strings cannot be reassigned after they have been created.
The element at position 2 of the string str3 is not the letter 'Z'.

In [ ]:
#Q1: When you tried to change the item at position 2 of str3, you got an error message that read: TypeError: 'str' object does not support item assignment.
#Q1: Why did you receive that error?

#A: The error is received because parts of strings cannot be reassigned after they have been created.

**Exercise 2**

Dictionaries & Variables
In the Jupyter Notebook, write several lines of code to do the following in succession, and once you are finished, run your code in the notebook, using the Run command:
Write an expression to create a dictionary that has the following letters as keys and numbers as values: map the letter 'a' to the number 1, the letter 'b' to the number 2, and the letter 'c' to the number 3. Assign the expression to the variable my_dict
After creating my_dict, write an expression to print its value.
Access the value associated with the key "b", and assign it to the variable val_b.
Write a new statement that adds a new entry to the dictionary, by assigning the value 4 to the key "d".
Write another expression to print the value of my_dict.

In [ ]:
my_dict = {"a": 1, "b": 2, "c" : 3}

print(my_dict.values())

val_b = my_dict["b"]

my_dict["d"] = 4

print(my_dict.values())

dict_values([1, 2, 3])
dict_values([1, 2, 3, 4])

In the notebook cell, write an expression resetting the value associated with 'c' to 30. Print the value of my_dict one more time.

In [ ]:
my_dict["c"] = 30
print(my_dict.values())

dict_values([1, 2, 30, 4])

Try to access the value associated with the key 'e', and assign it to the variable val_e. You should note that this generates an error, which you will be quizzed about.

In [ ]:
val_e = my_dict["e"]

KeyError: ignored

Questions

Did you see a message stating KeyError: 'e'. Check all statements below that are true:
- The error is due to the fact that I didn’t write code to print out the value of val_e. 
- The error is due to the fact that there is no key named 'e' in my_dict. 
- If I were to assign a value to the key 'e' in my_dict, then I would not see this error when I tried val_e = my_dict['e']

In [ ]:
#Questions

#Did you see a message stating KeyError: 'e'. Check all statements below that are true:
#The error is due to the fact that I didn’t write code to print out the value of val_e.
#The error is due to the fact that there is no key named 'e' in my_dict.
#If I were to assign a value to the key 'e' in my_dict, then I would not see this error when I tried val_e = my_dict['e']#

#Answer:
#The error is due to the fact that there is no key named 'e' in my_dict.
#If I were to assign a value to the key 'e' in my_dict, then I would not see this error when I tried val_e = my_dict['e']#


**Exercise 3    [5 Points]**

Python Basics
1) Write a python program which generate a list of 20 random integers in range 0 to 100 and then find the largest integer in this list. (Use if - else condition, function, don’t use loops)

In [ ]:
import random
def rando(i):
    return(random.sample(range(0,100),20))

In [ ]:
list1=rando(list)
print(list1)

[76, 35, 38, 86, 32, 45, 61, 46, 79, 73, 77, 85, 47, 89, 26, 71, 62, 13, 87, 11]

In [ ]:
i = max(list1)
if i is max(list1):
    print(i)

89

2) Write a function which accepts a dictionary as its parameter and returns two lists, out of which one is a list of only its keys and the other is a list of only its values. (Make a lists of your choice)

In [ ]:
def fun1(d):
    return list(d.keys()), list(d.values())

In [ ]:
Dict1={'State A':'Maryland', 'State B':'DC', 'State C': 'Virginia'}

In [ ]:
fun1(Dict1)

(['State A', 'State B', 'State C'], ['Maryland', 'DC', 'Virginia'])

**Exercise 4    [5 Points]**

Data Wrangling
Read the “demographics_dataset.xlsx” dataset for this exercise. The data that shows an individual's income (Income <=50K vs >50K), age, sex (Female, Male), and marital status!

In [ ]:
import numpy as np 
from pandas import Series, DataFrame
import pandas as pd

In [104]:
df=pd.read_csv('/content/demographics_dataset.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

1) Count the number of males and females in the data.

In [ ]:
df.columns

Index(['age', ' workclass', ' fnlwgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [ ]:
df[' sex'].value_counts()

 Male      21790
 Female    10771
Name:  sex, dtype: int64

2) What percentages of males and females are married?

In [ ]:
df_females=df[(df[' sex'])==' Female']
df_males=df[(df[' sex'])==' Male']

In [ ]:
df1=df.groupby(' sex')
df1[' marital-status'].value_counts()

 sex      marital-status
 Female   Never-married             4767
          Divorced                  2672
          Married-civ-spouse        1657
          Widowed                    825
          Separated                  631
          Married-spouse-absent      205
          Married-AF-spouse           14
 Male     Married-civ-spouse       13319
          Never-married             5916
          Divorced                  1771
          Separated                  394
          Married-spouse-absent      213
          Widowed                    168
          Married-AF-spouse            9
Name:  marital-status, dtype: int64

In [141]:
df_females_married = df_females[' marital-status'].str.contains("Married")
df_females_married.sum()

1876

In [115]:
Percentage_female_married = df_females_married.sum()/df_females.value_counts().sum()
Percentage_female_married

0.1741713861294216

In [140]:
df_males_married = df_males[' marital-status'].str.contains("Married")
df_males_married.sum()

13541

In [156]:
Percentage_male_married = df_males_married.sum()/df_males.value_counts().sum()
Percentage_male_married

0.621431849472235

3) What are the highest and the lowest incomes of males and females?

In [100]:
df.groupby(' sex')[' salary'].max()

 sex
 Female     >50K
 Male       >50K
Name:  salary, dtype: object

In [101]:
df.groupby(' sex')[' salary'].min()

 sex
 Female     <=50K
 Male       <=50K
Name:  salary, dtype: object

**Since there are no exact numbers of salary, we decided to upload the right code, which can calculate the maxmium and minimum of the salary once the salary has the exact number.**

4) What are the highest and lowest incomes of married and unmarried males?

In [148]:
df['isMarried']= df_females[' marital-status'].str.contains("Married").to_frame()
df_married_female=df[df['isMarried']== True]
df_unmarried_female=df[df['isMarried']!= True]

In [149]:
df_married_female[' salary'].min()

' <=50K'

In [151]:
df_married_female[' salary'].max()

' >50K'

In [157]:
df_unmarried_female[' salary'].min()

' <=50K'

In [153]:
df_unmarried_female[' salary'].max()

' >50K'

In [143]:
df['isMarried']= df_males[' marital-status'].str.contains("Married").to_frame()
df_married_male=df[df['isMarried']== True]
df_unmarried_male=df[df['isMarried']!= True]

In [144]:
df_married_male[' salary'].min()

' <=50K'

In [145]:
df_married_male[' salary'].max()

' >50K'

In [146]:
df_unmarried_male[' salary'].min()

' <=50K'

In [147]:
df_unmarried_male[' salary'].max()

' >50K'